<form>
    <label for="enemyType"> Enemy Type : </label>
    <select name="enemyType">
        <option value="Humanoid">Humanoid</option>
        <option value="Goblin">Goblin</option>
        <option value="Beast">Beast</option>
        <option value="Elemental">Elemental</option>
    </select>
    <br>
    <label>Armor Class</label>
    <input name="armorClass" type="number" value="0">
    <br>

    <input type="submit" value="Start Generation">
</form>
