.generator-icon-button
{
    background: transparent;
    padding: 0;
    color: white;
    line-height: normal;
    border: 0;
    align-self: center;
}

.generator-icon-button > i 
{
    margin-right: 0;
}

.generator-icon-button:hover, .generator-icon-button:focus
{
    box-shadow: none;
    text-shadow: 0 0 5px red;
}